# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/

# Caches / testy
.pytest_cache/
.ruff_cache/
.mypy_cache/

# VS Code
.vscode/

# Env
.env

# Build / package
*.egg-info/
dist/
build/

# Projekt
data/
results/
teoria/
